/* WIP Main Stylesheet for CPTKRB.net */

body {
    background-color: black;
    background-image: url("resources/stars_bg.gif");
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* Major inline elements */

h1 {
    font-family: "Trebuchet MS", sans-serif;
    color: white;
    text-align: center;
    font-size: calc(24px + 1vw);
}

h2 {
    font-family: "Trebuchet MS", sans-serif;
    color: white;
    text-align: center;
    font-size: calc(12px + 1vw);
}

h3 {
    font-family: "Rockwell", serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    font-size: calc(10px + 1vw);
}

p {
    font-family: "Arial", sans-serif;
    color: white;
    font-size: 16px;
}

p.note {
    font-style: italic;
    text-decoration: underline;
}

a {
    color: yellow;
    text-shadow: -1px 1px white;
}

/* Main 'boxes' for most pages */

main.in_progress {
    width: 40%;
    min-width: 400px;
    margin: 12% auto 2% auto;
    padding: 12px;
    border: double white 4px;
    background-color: black;
}

main.large {
    width: 90%;
    min-width: 600px;
    margin: 2% auto 2% auto;
    border: double white 4px;
    background-color: black;
}

/* Useful divs */

div.spacer {
    margin: 20%;
}

div.brief {
    width: 70%;
    margin: 2% auto 2% auto;
}

div.footer {
    width: 100%;
    height: 100px;
    background-color: black;
    border-top: 4px white double;
    margin: 0 auto;
}

div.trinkets {
    width: 60%;
    margin: 5% 0 5% 20%;
    padding: 12px;
    border: double white 4px;
    background-color: black;
    display: inline-block;
    text-align: center;
}

div.button_box {
    width: 100%;
    display: inline-block;
}

div.footer_border {
    width:100%;
    height: 0;
    border-top: 4px white double;
    margin: 10px 0 10px 0;
}

/* Specific images that may be reused (some of these may be deleted soon-ish if they prove unnecessary) */

img.logo {
    width: 70%;
    margin: auto;
    display: block;
}

img.loading {
    width:100%;
    margin: auto;
    display: block;
}

img.button {
    margin: 5px;
    height: 45px;
    width: auto;
}

/* Lists */

ul.music_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.music_list > li {
    width:100%;
    color:white;
    height:40px;
    border-bottom: solid white 2px;
}

/* Custom buttons */

button.trinket_button {
    font-family: "Courier New", serif;
    background-color: black;
    color: white;
    border: white outset 6px;
    height: 50px;
    width:45%;
    margin: 5px 5px 5px 5px;
}

button.trinket_button:hover {
    color:yellow;
}

button.trinket_button:active {
    border: white inset 6px;
    background-color: yellow;
    color: black;
}

@media screen and (max-width: 850px){
    button.trinket_button {
        width: 100%;
    }
}

/* Specialty / Utility */

.construction span {
    color: darkgray;
    text-shadow: -2px 2px gray;
}

.construction span:nth-of-type(even) {
    color: yellow;
    text-shadow: -2px 2px gray;
}

::selection {
    color: black;
    background-color: white;
}

.caesar-box {
    width: 30%;
    height: 400px;
    min-width: 400px;
    margin: 4% auto 2% auto;
    padding: 12px;
    border: double white 4px;
    background-color: black;
}